
.bienvenido{
    color: #fff;
    font-size: 3rem;
}

h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.btn-logout {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    margin: 1rem;
}